* {
    margin: 2;
    padding: 2;
    
}


:root{
    --main-radius:4px;
    --main-padding:4px; 
}

.wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.4fr 0.4fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
        "logo header header header"
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
    grid-gap: 0.2rem; 
    background-image: url(2020%20art.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


#logo{
    background: rgba(218,215,45,0.8);
    grid-area: logo;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    align-items: flex-end
}

#logo > img{
    object-fit: cover;
    width: 100%
}

header{
    background: rgba(218,215,45,0.8);
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-size: 3rem;
}

nav{
    background: rgba(218,215,45,0.3);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

main{
    background: rgba(0,0,0,0.7);
    grid-area: main;
    padding-top: var(--main-padding);
    color: white;
}

#sidebar{
    background: rgba(218,150,45,0.5);
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1{
    background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-image: url(GJ+full+work+view+to+majura+c.jpg);
    background-size: cover;
}

#content2{
    background: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3{
    background: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer{
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.img{
width: 300px;
}


.readmore1 {
    text-align-last: center;
}

.yellowbtn {
    border-radius: 5px;
    background-color: rgba(218,215,45,0.8);
}

.dark {
    display: block;
    height: 25px;
    background-color: rgba(112,115,9,0.6);
    color: white;
    font-size: 1.2rem;
    
}

@media (max-width:550px){
    .wrapper{
        grid-template-columns: 0.4fr 1fr; 
        grid-template-rows: 0.6fr 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr; 
        grid-template-areas: 
            "logo header"
            "nav nav"
            "sidebar sidebar"
            "main main"
            "content1 content1"
            "content2 content2"
            "content3 content3"
            "footer footer"
    }
    
    header{
    background: #a7ffeb;
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-size: 2rem;
}
}