@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 2;
    padding: 2;

}



:root {
    --main-radius: 4px;
    --main-padding: 4px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 10fr 0.8fr;
    grid-template-areas:
        "logo header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer";
    grid-gap: 0.5rem;
    background-image: url(images/2020%20art%202.jpg);
    background-size: contain;


}


#logo {
    background: rgba(218, 215, 45, 0.8);
    grid-area: logo;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    align-items: flex-end
}

#logo > img {
    object-fit: cover;
    width: 100%
}

header {
    background: rgba(218, 215, 45, 0.8);
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    font-size: 3rem;
}

nav {
    background: rgba(218, 215, 45, 0.3);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

main {
    background: rgba(0, 0, 0, 0.8);
    grid-area: main;
    padding: var(--main-padding) var(--main-padding) 0 var(--main-padding);
    color: white;
    font-size: 1.2rem;
}

#sidebar {
    background: rgba(218, 150, 45, 0.5);
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    text-align-last: center;
}

#content1 {
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding);
    background-image: url(GJ+full+work+view+to+majura+c.jpg);
    background-size: cover;
}

#content3 {
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding);
    background-image: url(1080X1080+INSTA_V0.3-05.png);
    background-size: cover;
}

footer {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
}

.blank {
    grid-area: blank;
}

.blank2 {
    grid-area: blank2;
}

.img {
    width: 300px;
}


.readmore1 {
    text-align-last: center;
}

.yellowbtn {
    border-radius: 5px;
    background-color: rgba(218, 215, 45, 0.8);
}

.donatebtn {
    border-radius: 5px;
    background-color: rgba(218, 215, 45, 0.8);
    font-size: 2rem;
}

.dark {
    display: block;
    height: 40px;
    background-color: rgba(112, 115, 9, 0.6);
    color: white;
    font-size: 1.2rem;

}

.donate {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 5px #000;

}

.dropbtn {
    background-color: rgba(218, 215, 45, 0.8);
    color: white;
    padding: 2px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-2 {
    background-color: rgba(218, 215, 45, 0.8);
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(218, 215, 45, 0.4);
    min-width: 40px;
    max-height: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 15px;
}

.dropdown-content div {
    padding: 5px 5px;
}

.dropdown-content div:hover {
    background-color: #eaeaea;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
    color: gold;
}



@media (max-width:550px) {
    .wrapper {
        grid-template-columns: 0.4fr 1fr;
        grid-template-rows: 0.02fr 0.1fr 0.3fr 0.2fr 0.1fr;
        grid-template-areas:
            "logo header"
            "nav nav"
            "blank2 blank2"
            "main main"
            "footer footer"
            background-image: url(images/2020%20art%202.jpg);
        background-size: cover;


    }


    header {
        background: rgba(218, 215, 45, 0.8);
        grid-area: header;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-size: 1.2rem;
    }

    main {
        font-size: 1rem;
    }

    .img {
        width: 150px;
    }

}
